main{
    padding: 2rem;
}

.account-list{
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
    /* align-items: center; */
    justify-content: center;
}

.main-title{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}