article{
    display: flex;
    flex-direction: row;
    /* align-items: start; */
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.01);
    padding: 1rem;
    border-radius: calc(10px + 0rem);
    border-bottom-left-radius: calc(10px + 0rem);
    border-bottom-right-radius: calc(10px + 0rem);
    backdrop-filter: blur(2.5px);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, .5);
    gap: 1rem;
    position: relative;
    
    min-height: 100px;
    min-width: 353px;
}
article:hover{
    box-shadow: 0px 0px 30px rgba(255, 255, 255, .5);
    transition: all .4s ease-out;
}

.close-account{
    position: absolute;
    color: var(--red);
    filter: saturate(130%);
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.close-account:hover{
    transform: scale(1.5);
    transition: all .1s ease-out;
}

.inner-container{
    display: flex;
    flex-direction: column;
}
.first-section{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    background-size: cover;
    min-height: 100px;
    /* min-width: 353px; */
    position: relative;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, .2);
}
h3, a{
    font-size: 1.3rem;
}
.nametag{
    color: #969696;
}

.rank-image{
    /* margin: auto; */
    /* height: 5rem; */
}
.second-section{
    width: 100%;
    margin-bottom: .5rem;
}
.rank-title{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    /* width: 100%; */
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: system-ui;
    margin-top: 1rem;
    position: absolute;
    bottom: -1rem;
    left: 1rem;
    filter: drop-shadow(0 0 1.1rem black);
}
.last-mmr{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    font-family: system-ui;
}
.mmr-green{
    
    color: var(--green);
}
.mmr-red{
    color: var(--red);
}

.lastgame-text{
    display: flex;
    justify-content: center;
    font-family: system-ui;
    font-weight: 500;
    font-size: 1rem;
    color: #969696;
    text-align: center;
}

.progress-container{
    width: 100%;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
}
.rank-progress-bar{
    background-color: rgba(255, 255, 255, .6);
    border-radius: 99px;
    overflow: hidden;
    /* width: 100%; */
    flex: 1;
    height: .5rem;
    margin: .5rem;
}
.rank-progress{
    border-radius: 99px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--green);
}

.rank-rating-container{
    width: 100%;
    /* position: absolute; */
    display: flex;
    padding: 0 .7rem;
    justify-content: space-between;
}

.rank-rating-text{
    font-family: system-ui;
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* text-align: start; */
    margin: 0;
}

.rank-rating{
    font-family: system-ui;
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* margin-left: auto; */
    font-weight: 700;
    margin: 0;
}

.actual-rating{
    font-family: system-ui;
    color: #23fed7;
}

.progress-group{
    width: 100%;
    position: absolute;
    bottom: -3rem;
    left: 0;
}